{
    "openapi": "3.0.1",
    "info": {
        "title": "isdfwriter-la",
        "description": "Azure Logic App.",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://isdf-apim-01.azure-api.net"
        }
    ],
    "paths": {
        "/isdf": {
            "post": {
                "summary": "isdf",
                "description": "Trigger a run of the logic app.",
                "operationId": "isdf",
                "requestBody": {
                    "description": "The request body.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/request-isdf"
                            },
                            "example": {
                                "device": {
                                    "aadDeviceId": "string",
                                    "hostname": "string",
                                    "aadTenantId": "string"
                                },
                                "isdf": {
                                    "channel": "ISDF:W365",
                                    "ea2": "string",
                                    "signalHash": "string",
                                    "originTupleHash": "string",
                                    "baselineVer": 0,
                                    "timestampUtc": "string"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The Logic App Response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/isdfPost200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The Logic App Response.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/isdfPost400ApplicationJsonResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "request-isdf": {
                "title": "ISDF Cloud Sync Request",
                "required": [
                    "device",
                    "isdf"
                ],
                "type": "object",
                "properties": {
                    "device": {
                        "required": [
                            "aadDeviceId",
                            "hostname",
                            "aadTenantId"
                        ],
                        "type": "object",
                        "properties": {
                            "aadDeviceId": {
                                "pattern": "^[0-9a-fA-F-]{36}$",
                                "type": "string",
                                "description": "Entra deviceId (GUID)"
                            },
                            "hostname": {
                                "minLength": 1,
                                "type": "string"
                            },
                            "aadTenantId": {
                                "pattern": "^[0-9a-fA-F-]{36}$",
                                "type": "string",
                                "description": "Entra tenantId (GUID)"
                            }
                        },
                        "additionalProperties": false
                    },
                    "isdf": {
                        "required": [
                            "channel",
                            "ea2",
                            "signalHash",
                            "originTupleHash",
                            "baselineVer",
                            "timestampUtc"
                        ],
                        "type": "object",
                        "properties": {
                            "channel": {
                                "enum": [
                                    "ISDF:W365",
                                    "ISDF:DevBox",
                                    "ISDF:AVD",
                                    "ISDF:DevTestLabs",
                                    "ISDF:AzureVM"
                                ],
                                "type": "string"
                            },
                            "ea2": {
                                "minLength": 1,
                                "type": "string",
                                "description": "Base64 of DPAPI-protected signal blob"
                            },
                            "signalHash": {
                                "pattern": "^[a-f0-9]{64}$",
                                "type": "string",
                                "description": "SHA-256 hex of live signal"
                            },
                            "originTupleHash": {
                                "pattern": "^[a-f0-9]{64}$",
                                "type": "string",
                                "description": "SHA-256 hex of tuple used to derive key"
                            },
                            "baselineVer": {
                                "minimum": 1,
                                "type": "integer"
                            },
                            "timestampUtc": {
                                "type": "string",
                                "format": "date-time"
                            }
                        },
                        "additionalProperties": false
                    }
                },
                "additionalProperties": false,
                "example": {
                    "device": {
                        "aadDeviceId": "string",
                        "hostname": "string",
                        "aadTenantId": "string"
                    },
                    "isdf": {
                        "channel": "ISDF:W365",
                        "ea2": "string",
                        "signalHash": "string",
                        "originTupleHash": "string",
                        "baselineVer": 0,
                        "timestampUtc": "string"
                    }
                }
            },
            "isdfPost200ApplicationJsonResponse": {
                "type": "object"
            },
            "isdfPost400ApplicationJsonResponse": {
                "type": "object"
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "Ocp-Apim-Subscription-Key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "subscription-key",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ]
}